.card {
    position: relative;
    background-color: #fff;
    margin-bottom: 1.25rem;
    border: 1px solid #edf2f9;
    border-radius: .25rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.card-header {
    padding: 0px 1.5rem;
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid #edf2f9;
    min-height: 3rem;
}

.card-header:first-child {
    border-radius: 0px;
}

.border-bottom-none {
    border-bottom: 1px solid #edf2f9;
}

.card-body {
    padding: 1.5rem;
    position: relative;
}

.row-acc {
    display: flex;
}

.card-header .card-title {
    flex: 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.card-title {
    font-weight: 500;
    font-size: 16px;
    color: #2a2a2a;
    margin-top: 0px;
    margin-bottom: 15px;
}

.bag-price {
    font-size: 15px;
    color: tomato;
    font-weight: bold;
}

.m-r-20 {
    margin-right: 20px !important;
}

.input-qty {
    width: 50%;
    display: unset;
}

.text-cyan {
    color: #00c9a7;
    font-weight: bold;
}

.text-red {
    color: tomato;
    font-weight: bold;
}

.flex-end-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.custom_content p {
    margin-bottom: 10px;
}

.custom_content .font-bold {
    font-weight: bold;
}

.table td, .table thead th {
    text-align: center;
}

.table>tbody>tr>td {
    vertical-align: middle;
}